<h3> Edit Image </h3>
<%= form_for @image do |form| %>
  <%= render "error_messages", target: @image %>

  <%= render "form", form: form %>
  <div>
    <%= form.submit "Update Image" %>
  </div>
<% end %>
